/* 
 * 
 * skull fadout
 *
*/
.fade-out {
  animation: fadeOut ease 3s;
  -webkit-animation: fadeOut ease 3s;
  -moz-animation: fadeOut ease 3s;
  -o-animation: fadeOut ease 3s;
  -ms-animation: fadeOut ease 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% { opacity:1; transform: scale(1); }
  100% { opacity:0; transform: scale(2); }
}

@-moz-keyframes fadeOut {
  0% { opacity:1; transform: scale(1); }
  100% { opacity:0; transform: scale(2); }
}

@-webkit-keyframes fadeOut {
  0% { opacity:1; transform: scale(1); }
  100% { opacity:0; transform: scale(2); }
}

@-o-keyframes fadeOut {
  0% { opacity:1; transform: scale(1); }
  100% { opacity:0; transform: scale(2); }
}

@-ms-keyframes fadeOut {
  0% { opacity:1; transform: scale(1); }
  100% { opacity:0; transform: scale(2); }
}


/* 
 * 
 * moving border
 *
*/
.moving-border {
  margin-top: -1px;

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid black;
      transition: all .3s;
      animation: clippath 4s infinite linear;
  }
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 95% 0);
    }
    
    25% {
        clip-path: inset(0 95% 0 0);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 95%);
    }
}